name: Run Unit Test iOS

on:
    workflow_call:


jobs:
    unit-test:
      runs-on: macos-latest
      steps:
      - name: Run Unit Tests
        run: |
          echo "xcodebuild test \
            -workspace "${{ vars.APP_NAME || env.APP_NAME }}.xcworkspace" \
            -scheme "${{ vars.SCHEME || env.SCHEME }}" \
            -destination "${{ vars.DESTINATION || env.DESTINATION }}" \
            -enableCodeCoverage YES "
            